@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
* {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.containerLista {
    background: #B4CFCD;
    padding: 40px;
    border: 2px solid #000;
    width: fit-content;
    margin: 50px auto;
    user-select: none;
    border-radius: 25px;
}
h2 {
    text-decoration: underline;
}
.containerLista ul {
    list-style: none;
    margin-top: 50px;
    font-size: 18px;
}

.containerLista ul li {
    padding: 8px 0;
    cursor: pointer;
    transition: background-color 0.5s linear;
}
.containerLista ul li:hover {
    background: #608B72;
}
.btnAdauga, input[type=submit] {
    cursor: pointer;
    border: none;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    font-size: 18px;
    width: 100%;
    text-align: center;
    background: transparent;
}
.formCont {
    display: none;
    flex-direction: column;
    padding: 20px;
    background-color: #608B72;
    box-shadow: 1px 1px 3px #000;
    margin-top: 15px;
}
input[type=text] {
    border: none;
   box-shadow: 1px 1px 3px #000;
   margin-bottom: 15px;
   background: #E3F7F5;
}
input[type=text]:focus {
    outline: none;
}